#carouselExampleIndicators .carousel-item .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#carouselExampleIndicators .carousel-item img {
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}